@model IEnumerable<UserManagementSystem.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
<p>
    Name:
    @Html.TextBox("searchName", ViewBag.SearchName as string, new { @class = "form-control", @style = "width: 200px; display: inline;" })

    Email:
    @Html.TextBox("searchEmail", ViewBag.SearchEmail as string, new { @class = "form-control", @style = "width: 200px; display: inline;" })

    Status:
    <select name="statusFilter" class="form-control" style="width: 120px; display: inline;">
        <option value="">All</option>
        <option value="Active" @(ViewBag.StatusFilter == "Active" ? "selected" : "")>Active</option>
        <option value="Inactive" @(ViewBag.StatusFilter == "Inactive" ? "selected" : "")>Inactive</option>
    </select>

    Sort Age:
    <select name="sortOrder" class="form-control" style="width: 150px; display: inline;">
        <option value="">Default</option>
        <option value="Age_Asc" @(ViewBag.SortOrder == "Age_Asc" ? "selected" : "")>Ascending</option>
        <option value="Age_Desc" @(ViewBag.SortOrder == "Age_Desc" ? "selected" : "")>Descending</option>
    </select>

    <input type="submit" value="Search" class="btn btn-primary" />
    @Html.ActionLink("Reset", "Index", "Users", null, new { @class = "btn btn-warning", style = "margin-left: 10px;" })
</p>
}
<p>
    @Html.ActionLink("Back to Full List", "Index", "Users", null, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
